<h1>Kittens#show</h1>

Name: <%= @kitten.name %><br>
Age: <%= @kitten.age %><br>
Cuteness: <%= @kitten.cuteness %><br>
Softness: <%= @kitten.softness %><br>

<%= link_to 'edit', edit_kitten_path %>
<%= link_to 'delete', @kitten, method: :delete %>